* {
    box-sizing: border-box;
}

body {
    background-color: rgba(95, 91, 95, 0.712);
    color: rgba(240, 248, 255, 0.856);
}

.container {
    display: block;
    margin: 0 auto;
    width: 50%;
}

h1 {
    color: rgb(36, 36, 36);
    text-align: center;
    margin-top: 50px;
}

.accord {
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
}

.tab {
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgba(114, 112, 112, 0.801);
}

.accord-input {
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    position: absolute;
}

.tab-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    height: 100%;
}

.tab-title {
    font-size: 20px;
}

.tab-open {
    position: static;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s;
}

.tab-img {
    display: block;
    margin: 20px auto;
    height: 25vh;
}

.tab-main:hover ~ .tab-open {
    max-height: 30vh;
    overflow: hidden;
    transition: max-height 0,6s;
}

.tab-main:hover .arrow  {
    transform: rotate(90deg);
    transition: transform .2s ease-out;
}


/* .tab-open:hover {
    max-height: 40vh;
    overflow: hidden;
    transition: max-height .6s;
} */

.accord-input:checked ~ .tab-open {
    max-height: 35vh;
    overflow: hidden;
    transition: max-height .6s ease-out;
}

.accord-input:checked + .tab-main {
    background-color: rgba(32, 32, 32, 0.801);
    transition: background-color 0.3s ease-out;
    border-radius: 6px 6px 0 0;
}

.tab:hover > .tab-main {
    background-color: rgba(32, 32, 32, 0.801);
    transition: background-color 0.3s ease-out;
    border-radius: 6px 6px 0 0;
}

.tab:hover > .tab-open {
    max-height: 40vh;
    overflow: hidden;
    transition: max-height .6s ease-out;
}

.accord-input:checked + .tab-main  .arrow {
    transform: rotate(90deg);
    transition: transform .1s ease-out;
}
